@using KisiselWebSitesi.Models.Siniflar
@model List<Ikonlar>
@{
    ViewBag.Title = "IkonListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<h2 class="mb-4">İkonlar Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ikon</th>
        <th>Guncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td><i class="@x.Ikon"></i></td>
            <td><a href="/Admin/IkonGetir/@x.Id" class="btn btn-primary">Güncelle</a></td>
            <td><a href="/Admin/IkonSil/@x.Id" class="btn btn-danger">Sil</a></td>
        </tr>

    }

</table>
<a href="/Admin/YeniIkon" class="btn btn-primary">Yeni İkon Ekle</a>

