@using KisiselWebSitesi.Models.Siniflar;
@model List<Ikonlar>
<div class="social">
    @foreach (var x in Model)
    {


        <a href="@x.Link" target="_blank"><i class="@x.Ikon"></i></a>
        @*<a href="#"><i class="fa-solid fa-envelope"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>*@
    }
</div>

